{% extends 'base.html' %}

{% block title %}
<a href="{{ url }}" title="Binbean">{{ title }}</a>
{% endblock %}

{% block content %}
    {% include 'article.html' %}
{% endblock %}

{% block comment %}
<div class="comments">
    <div id="disqus_thread"></div>

    <script type="text/javascript">
        var disqus_shortname = 'binbean'; 
        (function() {
         var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
         dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
         (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
         })();
    </script>
</div>
{% endblock %}
